<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="javascript/main.js"></script>
    <script>
      
    </script>
  </head>
  <body>
    <div id="container">
      <div id="map-canvas">
      </div>
      <div id="sidecontainer"> 
	<ol id="selectable"></ol>
      </div>
    </div>
    <div class="ui-widget">
      <p class="feedback">
	<span>Filter:</span>
      </p>
      <input id="tags">
    </div>
  </body>
</html>
