#container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
}

#sidecontainer {
  width: 300px;
  margin: 0 auto;
  padding: 0 auto;
  float: left;
}

#map-canvas {
    width: 700px;
    height: 600px;
    float: left;
}

.feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 0.8em;
    height: 16px;
    width: 250px;
}
